<div class="container">
    <footer class="footer">
    <small>
        Copyright &copy; <a href="https://wwwudemy.com">The complete Ruby on Rails</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
        </ul>
    </nav>
    </footer>
</div>